.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 82vh; 
  width: 100%;
}

.image-gallery-content:not(.fullscreen) .image-gallery-slide .image-gallery-image {
  height: 500px;
  width: 100%;
}

.image-gallery-thumbnails-wrapper:not(.fullscreen) {
  max-width: 100vw;
}
